---
import Footer from "../components/Footer.astro";
import Navigation, { PAGE_TITLES } from "../components/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{PAGE_TITLES["/"]}</title>
  </head>
  <body>
    <Navigation />

    <h1>{PAGE_TITLES["/"]}</h1>

    <Footer />
  </body>
</html>
