---
import "../styles/global.css";

export const PAGE_TITLES = {
  "/": "Home Page",
  "/about/": "About Me",
  "/blog/": "My Astro Learning Blog",
};

const pageTitle = "Home Page";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{PAGE_TITLES["/"]}</title>
  </head>
  <body>
    <a href="/blog/">{PAGE_TITLES["/blog"]}</a>
    <br />
    <a href="/about/">{PAGE_TITLES["/about/"]}</a>

    <h1>{pageTitle}</h1>
  </body>
</html>
