---
export const PAGE_TITLES = {
  "/": "Home Page",
  "/about/": "About Me",
  "/blog/": "My Astro Learning Blog",
};
---

<div class="nav-links">
  <a href="/">{PAGE_TITLES["/"]}</a>
  <a href="/about/">{PAGE_TITLES["/about/"]}</a>
  <a href="/blog/">{PAGE_TITLES["/blog/"]}</a>
</div>

