---
const { url, platform } = Astro.props;
---

<a class="social" target="_blank" href={url}>{platform}</a>

<style>
  .social {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 1rem;
  }
</style>
